@font-face {
    font-family: norsebold;
    src: url(Norse-Bold.otf);
}


body,html{
    margin: 0;
    padding: 0;
    height: 100vh;
}

*{
    box-sizing: border-box;
}


/*Image section*/


.wr{
    display: flex;
    flex-direction: row;
    /*gap: 30px;*/

}

.bgimage{
    background-image: url(bgimage.jpg);
    background-size: cover;
    width: 35vw;
    height: 100vh;
}



/* Form section*/

.formpage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    padding-left: 2rem;
}

.fwrap{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: norsebold;
}

.names,.contacts,.pwds{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}


.namelabel{
    display: flex;
    flex-direction: column;
}


.formdiv{
background-color: white;
}


/*para section*/

.paras{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    font-family: norsebold;
    font-size: 2rem;
    position: relative;
    top: 2.5rem;
}

.para1{
    position: relative;
    bottom: 1rem;
}






/*btn section*/

.btnw{
    font-family: norsebold;
}


button{
    font-family: norsebold;
    font-size: 2rem;
    width: 6rem;
}